@import "tailwindcss";

@theme inline {
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #ededed;
	}
}

body {
  font-family: 'Averia Serif Libre', 'Sarabun';
}

body {
	color: var(--foreground);
}
